<header class="navbar navbar-fixed-top bNavBar" role="banner" ng-controller="biHeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <div style="padding-top: 1px;">
                <a href="#/views/login"><img src="images/logo-corp.png" class="bLogo" alt="logo"/></a>
            </div>
        </div>
        <!-- ng-if="signedUp" 先封掉-->
        <div ng-model="signedUp" ng-init="signedUp = false" class="collapse navbar-collapse" role="navigation" style="margin-top: 7px;">
            <ul class="nav navbar-nav">
                <li><a href="#/views/System">系统</a></li>
                <li><a href="#/views/Equipment">设备</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        安全管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/Key">密钥</a></li>
                        <li><a href="#/views/Cert">证书</a></li>
                        <li><a href="#/views/Card">数据准备</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        加密服务 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/Application">加密应用</a></li>
                        <li><a href="#/views/Machine">密码机信息</a></li>
                        <li><a href="#/views/MachineReady">密码机上架</a></li>
                        <li><a href="#/views/GroupDefine">密码机分组</a></li>
                        <li><a href="#/views/Host">主机</a></li>
                        <li><a href="#/views/Cluster">集群</a></li>
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        权限管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/User">用户</a></li>
                        <li><a href="#/views/Role">角色</a></li>
                        <li><a href="#/views/Menu">菜单</a></li>
                    </ul>
                </li>
                <li><a href="#/views/check">待办事项</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)">你好，{{user.name}}</a></li>
                <li><a class="disabled"><span class="glyphicon glyphicon-user"></span></a></li>
                <li><a href="javascript:void(0)" ng-click="doLogout()">退出</a></li>
            </ul>
        </div>
        <div ng-if="!signedUp" class="collapse navbar-collapse" role="navigation" style="margin-top: 7px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/views/about">关于我们</a></li>
            </ul>
        </div>
    </div>
</header>