<header class="navbar navbar-fixed-top bNavBar" role="banner" ng-controller="biHeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <div style="padding-top: 1px;">
                <img onclick="window.location.href='#/views/login';" src="images/logo-corp.png" class="bLogo" alt="logo"/>
            </div>
        </div>
        <div ng-model="signedUp" ng-init="signedUp = false"  ng-if="signedUp" class="collapse navbar-collapse" role="navigation" style="margin-top: 7px;">
            <ul class="nav navbar-nav">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        密钥管理 <span class="caret"></span>
                    </a>
                    <!--<ul class="dropdown-menu" ng-show="sys=='KM'">-->
                        <!--<li><a href="#/views/System">行内系统信息维护</a></li>-->
                        <!--<li><a href="#/views/KeyDefine">密钥方案管理</a></li>-->
                        <!--<li><a href="#/views/SecretKey">对称密钥管理</a></li>-->
                        <!--<li><a href="#/views/RsaKeyBatch">非对称密钥批次管理</a></li>-->
                        <!--<li><a href="#/views/RsaKey">非对称密钥管理</a></li>-->
                    <!--</ul>-->
                    <ul class="dropdown-menu" ng-show="sys=='IC'">
                        <li><a href="#/views/System">行内系统信息维护</a></li>
                        <li><a href="#/views/KeyDefine">密钥方案管理</a></li>
                        <li><a href="#/views/SecretKey">对称密钥管理</a></li>
                        <li><a href="#/views/RsaKey">非对称密钥管理</a></li>
                        <li><a href="#/views/RsaKeyBatch">非对称密钥批次管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/views/SecretCert">发卡行证书管理</a></li>
                        <li><a href="#/views/SecretCertBand">发卡行证书绑定管理</a></li>
                        <li><a href="#/views/RootCert">根CA证书管理</a></li>
                    </ul>
                    <!--<ul class="dropdown-menu" ng-show="sys=='ATM'">-->
                        <!--<li>ATM</li>-->
                    <!--</ul>-->


                        <!--<li role="separator" class="divider"></li>
                        <li><a href="#/views/Branch">分支行机构维护</a></li>
                        <li><a href="#/views/Equipment">设备信息维护</a></li>
                        <li><a href="#/views/Partner">合作伙伴信息维护</a></li>
                        <li><a href="#/views/PartnerBranch">合作伙伴分支机构维护</a></li>
                        <li role="separator" class="divider"></li>-->
                        <!--<li><a href="#/views/KeyDefine">密钥方案管理</a></li>
                        <li><a href="#/views/SecretKey">对称密钥管理</a></li>
                        <li><a href="#/views/RsaKeyBatch">非对称密钥批次管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/views/SecretCert">发卡行证书管理</a></li>
                        <li><a href="#/views/SecretCertBand">发卡行证书绑定管理</a></li>
                        <li><a href="#/views/RootCert">根CA证书管理</a></li>-->
                    <!--</ul>-->
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        安全服务管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/Application">渠道接入管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/views/Clusters">安全服务集群管理</a></li>
                        <li><a href="#/views/Host">安全服务节点管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/views/Company">密码机厂商信息维护</a></li>
                        <li><a href="#/views/MachineModel">密码机设备型号信息维护</a></li>
                        <li><a href="#/views/Machine">密码机设备信息维护</a></li>
                        <li><a href="#/views/GroupDefine">密码机设备分组管理</a></li>
                        <li><a href="#/views/MachineReady">密码机设备上架管理</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/views/Task">变更状态查询</a></li>
                    </ul>
                </li>
                <li><a href="#/views/monitor">运维监控</a></li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        权限管理 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/Role">角色管理</a></li>
                        <li><a href="#/views/Users">用户管理</a></li>
                        <!--<li><a href="#/views/TimeValid">时间管理</a></li>-->
                    </ul>
                </li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        操作审计 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/Journal.All">我的操作历史</a></li>
                        <li><a href="#/views/Journal">全员的操作历史</a></li>
                    </ul>
                </li>
                <li><a href="#/views/check">待办事项</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>，{{user.name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/views/change">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:void(0)" ng-click="doLogout()">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ng-if="!signedUp" class="collapse navbar-collapse" role="navigation" style="margin-top: 7px;">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/views/about">关于我们</a></li>
            </ul>
        </div>
    </div>
</header>