<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'型号/编号'" item-options="machineList"
                                                item-value="rec.machineId" item-old-value="bak.machineId"
                                                item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'环境'" item-options="'env'|theOption"
                                                item-value="rec.env" item-old-value="bak.env"
                                                item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'机房'" item-required="'true'"
                                              item-value="rec.room" item-old-value="bak.room"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'机位'" item-required="'true'"
                                              item-value="rec.position" item-old-value="bak.position"
                                              item-locked="lock"></bi-edit-item>
                                <bi-date-item item-label="'上架日期'" item-required="'true'"
                                              item-value="rec.readyDate" item-old-value="bak.readyDate"
                                              item-locked="lock"></bi-date-item>
                                <bi-edit-item item-label="'IP'"
                                              item-value="rec.ip" item-old-value="bak.ip"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'端口'" item-tip="'请输入数字'" item-required="'true'"
                                              item-data-type="'number'"
                                              item-value="rec.port" item-old-value="bak.port"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'连接池大小'" item-required="'true'" item-data-type="'number'"
                                              item-value="rec.connectionPoolSize"
                                              item-old-value="bak.connectionPoolSize"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'指令集'" item-tip="'5.6.0.0.0 3 FEB'"
                                              item-value="rec.commandSetVersion"
                                              item-old-value="bak.commandSetVersion"
                                              item-locked="lock"></bi-edit-item>
                                <bi-date-item item-label="'启用日期'" item-required="'true'"
                                              item-value="rec.issueDate"
                                              item-old-value="bak.issueDate"
                                              item-locked="lock"></bi-date-item>
                                <bi-select-item item-label="'密码机分组'" item-options="groupList"
                                                item-value="rec.groupId"
                                                item-old-value="bak.groupId"
                                                item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'状态'" item-options="'machineStatus'|theOption"
                                                item-value="rec.status"
                                                item-old-value="bak.status"
                                                item-locked="lock"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>