<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'型号/编号'" item-options="machineList" item-name="'machineId'" item-required="'true'"
                                                item-value="rec.machineId" item-old-value="bak.machineId"
                                                item-locked="lock"></bi-select-item>
                                <bi-date-item item-label="'上架日期'" item-name="'readyDate'" item-required="'true'"
                                              item-value="rec.readyDate" item-old-value="bak.readyDate"
                                              item-locked="lock"></bi-date-item>
                                <bi-select-item item-label="'环境'" item-options="'env'|theOption" item-name="'env'" item-required="'true'"
                                                item-value="rec.env" item-old-value="bak.env"
                                                item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'机房'" item-name="'room'" item-required="'true'"
                                              item-value="rec.room" item-old-value="bak.room"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'机位'" item-name="'position'" item-required="'true'" item-reg-expr="'^[A-Za-z0-9-_ ]+$'"
                                              item-value="rec.position" item-old-value="bak.position"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'IP/域名:端口'" item-name="'ip'" item-required="'true'"
                                              item-value="rec.ip" item-old-value="bak.ip"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'连接池大小'" item-data-type="'number'" item-name="'connectionPoolSize'" item-required="'true'"
                                              item-value="rec.connectionPoolSize"
                                              item-old-value="bak.connectionPoolSize"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'超时时长(ms)'" item-data-type="'number'" item-name="'receiveTimeOut'" item-required="'true'"
                                              item-value="rec.receiveTimeOut"
                                              item-old-value="bak.receiveTimeOut"
                                              item-locked="lock"></bi-edit-item>
                                <bi-date-item item-label="'启用日期'" item-name="'issueDate'" item-required="'true'"
                                              item-value="rec.issueDate"
                                              item-old-value="bak.issueDate"
                                              item-locked="lock"></bi-date-item>
                                <bi-select-item item-label="'密码机分组'" item-options="groupList" item-name="'groupId'" item-required="'true'"
                                                item-value="rec.groupId"
                                                item-old-value="bak.groupId"
                                                item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'状态'" item-options="'machineStatus'|theOption" item-name="'status'" item-required="'true'"
                                                item-value="rec.status" item-margin="(opType == 0)|iif:'':'bi-margin-b0':'bi-margin-b0'"
                                                item-old-value="bak.status"
                                                item-locked="lock"></bi-select-item>
                                <div class="form-group" ng-show="opType == 0">
                                    <label class="col-sm-2 control-label trimR"><i class="fa fa-info-circle"></i></label>
                                    <div class="col-sm-6">
                                        <label class="control-label">下列信息从密码机探测获取.</label>
                                    </div>
                                </div>
                                <bi-edit-item item-label="'指令集'" ng-show="opType == 0"
                                              item-value="rec.commandSetVersion"
                                              item-old-value="bak.commandSetVersion"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'消息头长'" ng-show="opType == 0" item-margin="'bi-margin-b0'"
                                              item-value="rec.headLength"
                                              item-old-value="bak.headLength"
                                              item-locked="'true'"></bi-edit-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>