<div class="panel-collapse in" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a data-toggle="collapse" data-target="#roleFilterPanel" aria-expanded="true" aria-controls="roleFilterPanel">
                            <i class="fa fa-search"></i>&nbsp;查询
                        </a>
                        <div id="roleFilterPanel" class="panel-collapse collapse" role="tabpanel">
                            <hr class="bi-margin-b10 bi-margin-t8">
                            <div class="panel-body bi-pad0">
                                <form class="form-horizontal">
                                    <div class="col-md-6">
                                        <bi-query-item item-label="'标识'" item-tip="'大于0的整数'" item-value="qry.id"></bi-query-item>
                                    </div>
                                    <div class="col-md-6">
                                        <bi-query-item item-label="'名称'" item-tip="'文本,可模糊匹配'" item-value="qry.name"></bi-query-item>
                                    </div>
                                    <bi-query-action></bi-query-action>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bi-pt0">
                        <table class="table table-hover table-condensed bg-white crud-r">
                            <thead><tr>
                                <th><input type="checkbox" ng-click="toggleChosen();"></th>
                                <th>标识</th><th>型号/编号</th><th>环境</th><th>机房</th><th>机位</th><th>上架日期</th>
                                <th>IP</th><th>端口</th><th>连接池大小</th><th>指令集版本</th><th>启用日期</th><th>密码机分组</th><th>状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="rec in recs" class="chosen-{{rec.chosen}}">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="rec.chosen" ng-show="!rec.bizSeq">
                                    <i class="fa fa-lock" ng-show="rec.bizSeq"></i>
                                </td>
                                <td>{{rec.id}}</td>
                                <td><a href ng-click="showEditor($index)">{{rec.number}}</a></td>
                                <td>{{rec.env}}</td>
                                <td>{{rec.room}}</td>
                                <td>{{rec.position}}</td>
                                <td>{{rec.readyDate}}</td>
                                <td>{{rec.ip}}</td>
                                <td>{{rec.port}}</td>
                                <td>{{rec.connectionPoolSize}}</td>
                                <td>{{rec.commandSetVersion}}</td>
                                <td>{{rec.issueDate}}</td>
                                <td>{{rec.groupId}}</td>
                                <td>{{rec.status}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <bi-query-buttons></bi-query-buttons>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>