<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'名称'" item-name="'name'" item-required="'true'"
                                              item-value="rec.name" item-old-value="bak.name"
                                              item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'所属集群'" item-options="clusterList" item-name="'clusterId'" item-required="'true'"
                                                item-value="rec.clusterId" item-old-value="bak.clusterId"
                                                item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'描述'" item-margin="'bi-margin-b0'"
                                              item-value="rec.description" item-old-value="bak.description"
                                              item-locked="lock"></bi-edit-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>