<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-history"></i>&nbsp;合作伙伴<code>【&nbsp;{{rec.partnerName}}&nbsp;】</code>的维护记录</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item bi-ptb0">
                        <div class="panel-body bi-pad0">
                            <table class="table table-condensed bg-white bi-margin-b0">
                                <thead><tr>
                                    <th>标识</th>
                                    <th>伙伴类型</th>
                                    <th>伙伴名称</th>
                                    <th>分支行名称</th>
                                    <th>维护类型</th><th class="his-col-id">序号</th><th class="his-col-op">操作</th><th class="his-col-ts">时间戳</th><th class="his-col-uid">操作员</th></tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="his in histories">
                                    <td>{{his.id}}</td>
                                    <td>{{his.partnerType|optionName:'PartnerType'}}</td>
                                    <td>{{his.partnerName}}</td>
                                    <td>{{his.branchName}}</td>
                                    <td>{{his.opType|optionName:'opType'}}</td>
                                    <td colspan="5" style="padding: 0;">
                                        <bi-history-columns row-operations="his.operations"></bi-history-columns>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
                <ng-include src="'components/crud/biHistoryButtonsTemplate.html'"></ng-include>
            </div>
        </div>
    </div>
</div>