<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'批次备注'" item-value="rec.summary" item-old-value="bak.summary" item-required="'true'"
                                              item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'密钥模长'" item-options="'keyMode'|theOption" item-data-type="'text'"
                                              item-value="rec.keyMode" item-old-value="bak.keyMode" item-required="'true'"
                                              item-locked="lock"></bi-select-item>
                                <div ng-show="rec.keyMode != 'SM2-256'">
                                    <bi-select-item item-label="'密钥指数'" item-options="'keyExponential'|theOption" item-data-type="'text'"
                                                    item-value="rec.keyExponential" item-old-value="bak.keyExponential" item-required="'true'"
                                                    item-locked="lock"></bi-select-item>
                                </div>
                                <bi-select-item item-label="'密钥用途'" item-options="'keyUseFor'|theOption"
                                                item-value="rec.keyUseFor" item-old-value="bak.keyUseFor" item-required="'true'"
                                                item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'渠道接入'" item-options="applicationList"
                                                item-value="rec.applicationId" item-old-value="bak.applicationId" item-required="'true'"
                                                item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'计划数量'" item-tip="'输入正数'" item-data-type="'number'" item-name="'planQuantity'" item-required="'true'"
                                              item-value="rec.planQuantity" item-old-value="bak.planQuantity"
                                              item-locked="rec.batchStatus == 0|iif:lock:'true':'true'"></bi-edit-item>
                                <bi-date-item item-label="'计划开始时间'" item-data-type="'datetime-local'" item-name="'startDatetime'" item-required="'true'"
                                              item-value="rec.startDatetime" item-old-value="bak.startDatetime"
                                              item-locked="lock"></bi-date-item>
                                <bi-edit-item item-label="'完成数量'" item-tip="'输入正数'" item-data-type="'number'" ng-show="rec.batchStatus > 0"
                                              item-value="rec.completeQuantity" item-old-value="bak.completeQuantity"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-date-item item-label="'结束时间'" item-name="'endDatetime'"  item-data-type="'datetime-local'" ng-if="rec.batchStatus > 1"
                                              item-value="rec.endDatetime" item-old-value="bak.endDatetime"
                                              item-locked="'true'"></bi-date-item>
                                <bi-select-item item-label="'批次状态'" item-options="'batchStatus'|theOption" item-margin="'bi-margin-b0'"
                                                item-value="rec.batchStatus" item-old-value="bak.batchStatus"
                                                item-locked="'true'"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>