<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'名称'" item-tip="'输入中文'"
                                              item-value="rec.name" item-old-value="bak.name" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'交易码'" item-tip="'格式：<method>:uri (可使用正则表达式)，如：GET:/Menu/[0-9]+'"
                                              item-value="rec.transactionCode" item-old-value="bak.transactionCode" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'是否用于导航'"
                                                item-value="rec.isForNavigating" item-old-value="bak.isForNavigating" item-locked="lock" item-options="'YesNo'|theOption"></bi-select-item>
                                <bi-select-item item-label="'是否需复核'"
                                                item-value="rec.isRequireCheck" item-old-value="bak.isRequireCheck" item-locked="lock" item-options="'YesNo'|theOption"></bi-select-item>
                                <bi-select-item item-label="'是否需授权'"
                                                item-value="rec.isRequireAuthorize" item-old-value="bak.isRequireAuthorize" item-locked="lock" item-options="'YesNo'|theOption"></bi-select-item>
                                <bi-select-item item-label="'授权者角色'"
                                                item-value="rec.roles[0].roleId" item-old-value="bak.roles[0].roleId" item-locked="lock" item-options="roles">
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>