<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'发卡行证书id'" item-name="'secretCertId'" item-required="'true'" item-data-type="'number'"
                                              item-value="rec.secretCertId" item-old-value="bak.secretCertId"
                                              item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                <div ng-show="opType == 1">
                                    <bi-edit-item item-label="'UDK-AC'" item-name="'udkAc'" item-required="'true'" item-data-type="'number'"
                                                  item-value="rec.udkAc" item-old-value="bak.udkAc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-ENC'" item-name="'udkEnc'" item-required="'true'" item-data-type="'number'"
                                                  item-value="rec.udkEnc" item-old-value="bak.udkEnc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-MAC'" item-name="'udkMac'" item-required="'true'" item-data-type="'number'"
                                                  item-value="rec.udkMac" item-old-value="bak.udkMac"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KMC'" item-name="'kmc'" item-required="'true'" item-data-type="'number'"
                                                  item-value="rec.kmc" item-old-value="bak.kmc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KEK-UDK'" item-name="'kekUdk'" item-required="'true'" item-data-type="'number'"
                                                  item-value="rec.kekUdk" item-old-value="bak.kekUdk"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KEK-KMC'" item-name="'kekKmc'" item-required="'true'" item-data-type="'number'"
                                                  item-value="rec.kekKmc" item-old-value="bak.kekKmc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                </div>
                                <div ng-show="opType != 1">
                                    <bi-edit-item item-label="'UDK-AC'" item-name="'udkAc'" item-data-type="'text'"
                                                  item-value="rec.udkAcKeyValue" item-old-value="bak.udkAcKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-AC-CHECK'" item-name="'udkAcCheck'" item-data-type="'text'"
                                                  item-value="rec.udkAcCheckValue" item-old-value="bak.udkAcCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-ENC'" item-name="'udkEnc'" item-data-type="'text'"
                                                  item-value="rec.udkEncKeyValue" item-old-value="bak.udkEncKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-ENC-CHECK'" item-name="'udkEncCheck'" item-data-type="'text'"
                                                  item-value="rec.udkEncCheckValue" item-old-value="bak.udkEncCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-MAC'" item-name="'udkMac'" item-data-type="'text'"
                                                  item-value="rec.udkMacKeyValue" item-old-value="bak.udkMacKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'UDK-MAC-CHECK'" item-name="'udkMacCheck'" item-data-type="'text'"
                                                  item-value="rec.udkMacCheckValue" item-old-value="bak.udkMacCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KMC'" item-name="'kmc'" item-data-type="'text'"
                                                  item-value="rec.kmcKeyValue" item-old-value="bak.kmcKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KMC-CHECK'" item-name="'kmcCheck'" item-data-type="'text'"
                                                  item-value="rec.kmcCheckValue" item-old-value="bak.kmcCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KEK-UDK'" item-name="'kekUdk'" item-data-type="'text'"
                                                  item-value="rec.kekUdkKeyValue" item-old-value="bak.kekUdkKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KEK-UDK-CHECK'" item-name="'kekUdkCheck'" item-data-type="'text'"
                                                  item-value="rec.kekUdkCheckValue" item-old-value="bak.kekUdkCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KEK-KMC'" item-name="'kekKmc'" item-data-type="'text'"
                                                  item-value="rec.kekKmcKeyValue" item-old-value="bak.kekKmcKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KEK-KMC-CHECK'" item-name="'kekKmcCheck'" item-data-type="'text'"
                                                  item-value="rec.kekKmcCheckValue" item-old-value="bak.kekKmcCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>