<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'发卡行证书'" item-options="secretCertListByStatus" item-name="'secretCertId'" item-required="'true'"
                                              item-value="rec.secretCertId" item-old-value="bak.secretCertId"
                                              item-locked="opType != 1 || recStatus != -1"></bi-select-item>
                                <div ng-show="opType == 1">
                                    <bi-edit-item item-label="'MDK-AC'" item-name="'mdkAc'" item-required="'true'"
                                                  item-value="rec.mdkAc" item-old-value="bak.mdkAc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-ENC'" item-name="'mdkEnc'" item-required="'true'"
                                                  item-value="rec.mdkEnc" item-old-value="bak.mdkEnc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-MAC'" item-name="'mdkMac'" item-required="'true'"
                                                  item-value="rec.mdkMac" item-old-value="bak.mdkMac"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KMC'" item-name="'kmc'" item-required="'true'"
                                                  item-value="rec.kmc" item-old-value="bak.kmc"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                </div>
                                <div ng-show="opType != 1">
                                    <bi-edit-item item-label="'MDK-AC'" item-name="'mdkAc'" item-data-type="'text'"
                                                  item-value="rec.mdkAcKeyValue" item-old-value="bak.mdkAcKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-AC-CHECK'" item-name="'mdkAcCheck'" item-data-type="'text'"
                                                  item-value="rec.mdkAcCheckValue" item-old-value="bak.mdkAcCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-ENC'" item-name="'mdkEnc'" item-data-type="'text'"
                                                  item-value="rec.mdkEncKeyValue" item-old-value="bak.mdkEncKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-ENC-CHECK'" item-name="'mdkEncCheck'" item-data-type="'text'"
                                                  item-value="rec.mdkEncCheckValue" item-old-value="bak.mdkEncCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-MAC'" item-name="'mdkMac'" item-data-type="'text'"
                                                  item-value="rec.mdkMacKeyValue" item-old-value="bak.mdkMacKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'MDK-MAC-CHECK'" item-name="'mdkMacCheck'" item-data-type="'text'"
                                                  item-value="rec.mdkMacCheckValue" item-old-value="bak.mdkMacCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KMC'" item-name="'kmc'" item-data-type="'text'"
                                                  item-value="rec.kmcKeyValue" item-old-value="bak.kmcKeyValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                    <bi-edit-item item-label="'KMC-CHECK'" item-name="'kmcCheck'" item-data-type="'text'"
                                                  item-value="rec.kmcCheckValue" item-old-value="bak.kmcCheckValue"
                                                  item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>