<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'设备类型'" item-options="'equipmentType'|theOption" item-required="'true'" item-name="'equipmentType'"
                                                item-value="rec.equipmentType" item-old-value="bak.equipmentType" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'设备编号'" item-tip="'输入中文'" item-required="'true'" item-name="'equipmentNo'"
                                              item-value="rec.equipmentNo" item-old-value="bak.equipmentNo" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'所属分支行'" item-tip="'陕西分行岐山臊子面支行'" item-name="'branchName'" item-min-length="'4'"
                                              item-value="rec.branchName" item-old-value="bak.branchName" item-locked="lock"></bi-edit-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>