<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item" >
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">

                                <div>
                                    <table class="table table-condensed bi-margin-b0 crud-r" style="margin-top: -1px;">
                                        <thead><tr>
                                            <th class="text-center" style="width: 75px;" colspan="3">手动批量更新密钥</th>
                                        </thead>
                                        <tr>
                                            <td class="text-right">密钥值</td>
                                            <td colspan="2">
                                                <bi-edit-item item-name="'keyValue'" item-value="batchUpdateKey.keyValue" item-locked="lockKeyAbout"></bi-edit-item>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-right">校验值</td>
                                            <td colspan="2">
                                                <bi-edit-item item-name="'checkValue'" item-value="batchUpdateKey.checkValue" item-locked="lockKeyAbout"></bi-edit-item>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>