<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'机构号'"
                                              item-value="rec.branchNo" item-old-value="bak.branchNo" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'上级机构'" item-options="branchList"
                                              item-value="rec.upBranchId" item-old-value="bak.upBranchId" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'机构名称'"
                                              item-value="rec.branchName" item-old-value="bak.branchName" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'是否叶子'" item-options="'YesNo'|theOption"
                                              item-value="rec.isLeaf" item-old-value="bak.isLeaf" item-locked="'true'"></bi-select-item>
                                <bi-check-item item-label="'创建/更新密钥'" on-item-changed="changeDefineList" ng-show="opType == 2"
                                               item-value="rec.createKey" item-old-value="bak.createKey" item-locked="lock"></bi-check-item>
                                <bi-select-item item-label="'密钥方案'" item-options="theKeyDefineList" ng-show="rec.createKey"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'密钥方案'" ng-show="isKeySet(rec.keyBizSeq)"
                                              item-value="rec.keys[0].rec.keyDefineRemark" item-old-value="rec.keys[0].bak.keyDefineRemark" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'密钥ID'" ng-show="isKeySet(rec.keyBizSeq)"
                                              item-value="rec.keys[0].rec.id" item-old-value="rec.keys[0].bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'密钥值'" ng-show="isKeySet(rec.keyBizSeq)"
                                              item-value="rec.keys[0].rec.keyValue" item-old-value="rec.keys[0].bak.keyValue" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'密钥校验值'" ng-show="isKeySet(rec.keyBizSeq)"
                                              item-value="rec.keys[0].rec.checkValue" item-old-value="rec.keys[0].bak.checkValue" item-locked="'true'"></bi-edit-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>