<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'机构号'" item-name="'branchNo'" item-required="'true'"
                                              item-value="rec.branchNo" item-old-value="bak.branchNo" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'上级机构'" item-options="branchList"
                                              item-value="rec.upBranchId" item-old-value="bak.upBranchId" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'机构名称'" item-name="'branchName'" item-required="'true'"
                                              item-value="rec.branchName" item-old-value="bak.branchName" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'是否叶子'" item-options="'YesNo'|theOption"
                                                item-margin="((opType == 0 || rec.createKey) && rec.keys && rec.keys.length > 0)|iif:'':'bi-margin-b0':'bi-margin-b0'"
                                                item-value="rec.isLeaf" item-old-value="bak.isLeaf" item-locked="'true'"></bi-select-item>
                                <bi-check-item item-label="'创建/更新密钥'" ng-show="rec.createKey"
                                               item-value="" item-old-value="" item-locked="false" on-item-changed="changeInputKey"></bi-check-item>
                                <div ng-show="rec.createKey && selectMod">
                                <bi-select-item item-label="'密钥定义'" item-options="keyDefineNameList"
                                                item-value="rec.keys[0].keyDefineId" item-old-value="rec.key[0].keyDefineId" item-locked="!selectMod"></bi-select-item>
                                </div>
                                <div class="form-group bi-margin-b0" ng-show="(opType == 0 || rec.createKey) && rec.keys && rec.keys.length > 0 && rec.keys[0].keyValue">
                                    <label class="col-sm-2 control-label">相关密钥</label>
                                    <div class="col-sm-6">
                                        <table class="table table-condensed bi-margin-b0 crud-r" style="margin-top: -1px;" ng-repeat="op in rec.keys">
                                            <thead><tr>
                                                <th class="text-center" style="width: 75px;"></th><th>{{op.keyDefineId}} - {{op.serviceIndex}}</th>
                                                <th class="text-center" style="width: 50px;"><input type="checkbox" ng-model="op.chosen" ng-show="rec.createKey"></th></tr>
                                            </thead>
                                            <tr>
                                                <td class="text-right">密钥值</td>
                                                <td colspan="2">
                                                    <!--<input type="text" name="'keyValue'" value="{{op.keyValue}}">-->
                                                    <bi-edit-item item-name="'keyValue'" item-value="op.keyValue" item-old-value="op.keyValue"
                                                                  item-locked="selectMod"></bi-edit-item>
                                                </td>
                                            </tr>
                                            <tr ng-if="rec.opType == 2 && valueChanged('keyDefineId', 'keyValue', op, bak.keys)" class="chosen-true">
                                                <td class="text-right">旧值</td>
                                                <td colspan="2">{{changedValue('keyDefineId', 'keyValue', op, bak.keys)}}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right">校验值</td>
                                                <td colspan="2">
                                                    <bi-edit-item item-name="'checkValue'" item-value="op.checkValue" item-old-value="op.checkValue"
                                                                  item-locked="selectMod"></bi-edit-item>
                                                </td>
                                            </tr>
                                            <tr ng-if="rec.opType == 2 && valueChanged('keyDefineId', 'checkValue', op, bak.keys)" class="chosen-true">
                                                <td class="text-right">旧值</td>
                                                <td colspan="2">{{changedValue('keyDefineId', 'checkValue', op, bak.keys)}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>