<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0" name="{{::thePageId}}Form">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'批次'" item-options="rsaKeyBatchListName" item-locked="'true'"
                                                item-value="rec.batchId" item-old-value="bak.batchId" >
                                </bi-select-item>
                                <bi-edit-item item-label="'安全服务索引'" item-tip="'如：CORE-BOC-ZMK-01(一旦设置将无法更改)'" item-required="'true'" item-reg-expr="'^[A-Za-z0-9-]+[A-Za-z0-9-\.]+[A-Za-z0-9]+$'" item-name="'serviceIndex'"
                                              item-value="rec.serviceIndex" item-old-value="bak.serviceIndex"
                                              item-locked="opType != 1 && isIndexExist"></bi-edit-item>
                                <bi-select-item item-label="'密钥模长'" item-options="'keyMode'|theOption" item-data-type="'text'"
                                                item-value="rec.keyMode" item-old-value="bak.keyMode" item-required="'true'"
                                                item-locked="lock"></bi-select-item>
                                <div ng-show="rec.keyMode != 'SM2-256'">
                                    <bi-select-item item-label="'密钥指数'" item-options="'keyExponential'|theOption" item-data-type="'text'"
                                                    item-value="rec.keyExponential" item-old-value="bak.keyExponential" item-required="'true'"
                                                    item-locked="lock"></bi-select-item>
                                </div>
                                <div ng-show="!lock">
                                    <bi-select-item item-label="'是否随机产生'" item-options="'YesNo'|theOption" item-data-type="'text'"
                                                     item-value="rec.isRandKey" item-old-value="bak.keyExponential" item-required="'true'"
                                                     item-locked="lock"></bi-select-item>
                                </div>
                                <div ng-show="rec.isRandKey == '0' || lock">
                                    <bi-edit-item item-label="'私钥'" item-tip="'请输入LMK加密的私钥密文'" item-value="rec.privateKeyValue" item-old-value="bak.privateKeyValue" item-reg-expr="'^[A-F0-9]+$'" item-name="'privateKeyValue'"
                                                item-required="rec.isRandKey == '0'" item-locked="lock"></bi-edit-item>
                                    <bi-edit-item item-label="'公钥'" item-tip="'请输入公钥明文'" item-value="rec.publicKeyValue" item-old-value="bak.publicKeyValue" item-reg-expr="'^[A-F0-9]+$'" item-name="'publicKeyValue'"
                                                item-required="rec.isRandKey == '0'" item-locked="lock"></bi-edit-item>
                                </div>
                                <bi-select-item item-label="'行内系统'" item-options="systemList" item-required="'true'"
                                                item-value="rec.systemId" item-old-value="bak.systemId" item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'使用状态'" item-options="'keyUseStatus'|theOption" item-required="'true'"
                                              item-value="rec.useStatus" item-old-value="bak.useStatus" item-margin="'bi-margin-b0'"
                                              item-locked="lock"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>