<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0" name="{{::thePageId}}Form">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'索引'" item-tip="'加密服务使用'"
                                              item-value="rec.serviceIndex" item-old-value="bak.serviceIndex"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'批次'"
                                              item-value="rec.batchId" item-old-value="bak.batchId"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'私钥'"
                                              item-value="rec.privateKeyValue" item-old-value="bak.privateKeyValue"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'公钥'"
                                              item-value="rec.publicKeyValue" item-old-value="bak.publicKeyValue"
                                              item-locked="lock"></bi-edit-item>
                                <bi-date-item item-label="'生成时间'" item-data-type="'datetime-local'"
                                              item-value="rec.createDatetime" item-old-value="bak.createDatetime"
                                              item-locked="lock"></bi-date-item>
                                <bi-select-item item-label="'使用状态'" item-options="'RSAStatus'|theOption"
                                              item-value="rec.useStatus" item-old-value="bak.useStatus" item-margin="'bi-margin-b0'"
                                              item-locked="lock"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>