<div class="panel-collapse in" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a data-toggle="collapse" data-target="#registerStep1" aria-expanded="true"
                           aria-controls="registerStep1">
                            <i class="fa fa-search"></i>&nbsp;查询
                        </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href ng-click="conditionQuery(qry)"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <div id="registerStep1" class="panel-collapse collapse" role="tabpanel">
                            <hr class="bi-margin-b10 bi-margin-t8">
                            <div class="panel-body bi-pad0">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <bi-query-select item-label="'行内系统'" item-value="qry.systemId" item-options="systemList"></bi-query-select>
                                            <bi-query-select item-label="'渠道接入'" item-value="qry.applicationId" item-options="applicationList"></bi-query-select>
                                            <bi-query-action></bi-query-action>
                                        </div>
                                        <div class="col-md-6">
                                            <bi-query-select item-label="'密钥类型'" item-value="qry.keyMode" item-options="'keyMode'|theOption"></bi-query-select>
                                            <bi-query-select item-label="'使用状态'" item-value="qry.useStatus" item-options="'RSAStatus'|theOption"></bi-query-select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bi-pt0">
                        <table class="table table-hover table-condensed bg-white crud-r">
                            <thead>
                            <tr>
                                <th><input type="checkbox" ng-click="toggleChosen();"></th>
                                <th>行内系统</th>
                                <th>批次</th>
                                <th>安全服务索引</th>
                                <th>私钥</th>
                                <th>公钥</th>
                                <th>公钥模长</th>
                                <th>公钥指数</th>
                                <th>修改时间</th>
                                <th>使用状态</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in recs" class="chosen-{{r.rec.chosen}}">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="r.rec.chosen" ng-show="!r.rec.bizSeq">
                                    <i class="fa fa-lock" ng-show="r.rec.bizSeq"></i>
                                </td>
                                <td>{{r.rec.systemId|optionName:systemList}}</td>
                                <td>{{r.rec.batchId|optionName:rsaKeyBatchListName}}</td>
                                <td><a href ng-click="showEditor($index)">{{r.rec.serviceIndex}}</a></td>
                                <td>{{r.rec.privateKeyValue|more:32}}</td>
                                <td>{{r.rec.publicKeyValue|more:32}}</td>
                                <td>{{r.rec.keyMode}}</td>
                                <td>{{r.rec.keyExponential}}</td>
                                <td>{{r.rec.createDatetime|biDateTime}}</td>
                                <td>{{r.rec.useStatus|optionName:'RSAStatus'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <bi-query-buttons></bi-query-buttons>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>