<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'型号'" item-options="modelList"
                                              item-value="rec.modelId" item-old-value="bak.modelId" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'批次'" item-tip="'如：AN'"
                                              item-value="rec.batch" item-old-value="bak.batch" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'编号'" item-tip="'SJJ1309AN084'"
                                              item-value="rec.number" item-old-value="bak.number" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'生产商'" item-tip="'输入中文'"
                                              item-value="rec.producer" item-old-value="bak.producer" item-locked="lock"></bi-edit-item>
                                <bi-date-item item-label="'生产日期'"
                                              item-value="rec.produceDate" item-old-value="bak.produceDate" item-locked="lock"></bi-date-item>
                                <bi-edit-item item-label="'供应商'" item-tip="'输入中文'"
                                              item-value="rec.supplier" item-old-value="bak.supplier" item-locked="lock"></bi-edit-item>
                                <bi-date-item item-label="'供应日期'"
                                              item-value="rec.supplyDate" item-old-value="bak.supplyDate" item-locked="lock"></bi-date-item>
                                <div class="form-group bi-margin-b0">
                                    <label class="col-sm-2 control-label">上架状态</label>
                                    <div class="col-sm-6">
                                        <table class="table table-condensed bi-margin-b0 crud-r" style="margin-top: -1px;">
                                            <thead><tr>
                                                <th><i class="fa fa-square-o"></i></th>
                                                <th style="width: 150px; text-align: left;">机房</th><th>机位</th><th>IP</th><th>状态</th>
                                                <th style="width: 50px;"><a ng-click="showRefEditorX(rec.readies, 'editUp')" ng-show="!lock && rec.readies.length == 0"><i class="fa fa-plus-circle"></i></a></th></tr>
                                            </thead>
                                            <tr ng-repeat="op in rec.readies">
                                                <td class="text-center">
                                                    <i class="fa fa-{{op.rec.opType|optionName:'opTypeIcon'}} text-danger"></i>
                                                </td>
                                                <td>{{op.rec.room}}</td>
                                                <td>{{op.rec.position}}</td>
                                                <td><a href ng-click="showRefEditor(rec.readies, $index, 'editUp', 'Machine')">{{op.rec.ip}}</a></td>
                                                <td>{{op.rec.status|optionName:'machineStatus'}}</td>
                                                <td>
                                                    <a ng-click="deleteRefRecX(rec.readies, $index)" ng-show="!lock"><i class="fa fa-minus-circle"></i></a>&nbsp;
                                                    <a ng-click="unlockRefEditorX(rec.readies, $index, 'editUp')" ng-show="!lock"><i class="fa fa-edit"></i></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-if="rec.opType == 2" class="col-sm-4 trimL bi-old-val" style="padding-top: 12px;">
                                        <div class='weixin right' ng-if="refChanged(rec.readies)">
                                            <div class='weixin-content'>做过关联维护</div>
                                            <div class="arrow" style="margin-top: 0;"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>