<div class="row">
    <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="操作">
            <button class="btn btn-default bi-bar-lt" ng-click="showEditorX()" ng-show="!readOnly">
                <i class="fa fa-plus"></i>&nbsp;增加</button>
            <button class="btn btn-default" ng-click="unlockEditorX()" ng-show="!readOnly">
                <i class="fa fa-edit"></i>&nbsp;修改</button>
            <button class="btn btn-default" ng-click="deleteRecX()" ng-show="!readOnly">
                <i class="fa fa-trash-o"></i>&nbsp;删除</button>
            <button class="btn btn-default bi-bar-lt" ng-click="copyEditorX()" ng-show="!readOnly">
                <i class="fa fa-copy"></i>&nbsp;复制</button>
            <button class="btn btn-default" ng-click="showHistoryX()" ng-show="!browseOnly">
                <i class="fa fa-history"></i>&nbsp;历史</button>
            <button class="btn btn-default" ng-click="deleteRecX()" ng-show="!browseOnly && tableId != 'SecretKey'">
                <i class="fa fa-print"></i>&nbsp;打印</button>
            <button class="btn btn-danger" ng-click="synchroKeys()" ng-if="tableId == 'SecretKey'">
                <i class="fa fa-key"></i>&nbsp;同步</button>
            <button class="btn btn-danger" ng-click="showBatchUpdateX()" ng-if="!rec.bizSeq && !readOnly&&keyAbout">
                <i class="fa fa-key"></i>&nbsp;密钥</button>
        </div>

    </div>
    <ng-include src="'components/crud/biMultiPagesBar.html'"></ng-include>
</div>