<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{ref.opType|optionName:'opType'}}&nbsp;-&nbsp;对称密钥<code>【&nbsp;{{rec.serviceIndex}}&nbsp;】</code>系统归属信息</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="ref.rec.id" item-old-value="ref.bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'系统代号'" item-tip="'大写英文字母'" item-name="'symbol'" item-required="'true'" item-max-length="'16'"
                                              item-value="ref.rec.symbol" item-old-value="ref.bak.symbol" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'名称'" item-tip="'中文名称'"
                                              item-value="ref.rec.name" item-old-value="ref.bak.name" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'英文名称'"
                                              item-value="ref.rec.nameEn" item-old-value="ref.bak.nameEn" item-locked="'true'"></bi-edit-item>
                                <bi-text-item item-label="'简介'"
                                              item-value="ref.rec.summary" item-old-value="ref.bak.summary" item-locked="'true'"></bi-text-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-two-ref-check-buttons></bi-two-ref-check-buttons>
            </div>
        </div>
    </div>
</div>