<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'加密服务索引'" item-tip="'一旦设置将无法更改'" item-required="'true'"
                                              item-value="rec.serviceIndex" item-old-value="bak.serviceIndex" item-locked="isIndexExist"></bi-edit-item>
                                <bi-select-item item-label="'密钥定义'" item-options="keyDefineNameList" item-required="'true'"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="isCreateKey"></bi-select-item>
                                <bi-select-item item-label="'密钥类型'" item-options="keyDefineTypeList"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="'true'"></bi-select-item>
                                <bi-select-item item-label="'密钥标识'" item-options="keyDefineSchemaList"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="'true'"></bi-select-item>
                                <bi-edit-item item-label="'密钥值'" item-required="'true'"
                                              item-value="rec.keyValue" item-old-value="bak.keyValue" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'校验值'" item-required="'true'"
                                              item-value="rec.checkValue" item-old-value="bak.checkValue" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'使用状态'" item-required="'true'"
                                              item-value="rec.useStatus|optionName:'keyUseStatus'" item-old-value="bak.useStatus|optionName:'keyUseStatus'" item-locked="lock"></bi-edit-item>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label bi-pr0">系统</label>
                                    <div class="col-sm-6">
                                        <table class="table table-condensed bi-margin-b0 crud-r" style="margin-top: -1px;">
                                            <thead><tr>
                                                <th><i class="fa fa-square-o"></i></th>
                                                <th style="width: 150px; text-align: left;">系统代号</th><th>系统名称</th>
                                                <th style="width: 50px;">
                                                    <a ng-show="sysdrop"><i ng-click="sysdrop=false" class="fa fa-chevron-up pointer"></i></a>
                                                    <a ng-show="!sysdrop"><i ng-click="sysdrop=true" class="fa fa-chevron-down pointer"></i></a></th></tr>
                                            </thead>
                                            <tr ng-repeat="op in rec.systems" ng-show="sysdrop">
                                                <td class="text-center">
                                                    <i class="fa fa-{{op.rec.opType|optionName:'opTypeIcon'}} text-danger"></i>
                                                </td>
                                                <td>{{op.rec.symbol}}</td>
                                                <td>{{op.rec.name}}</td>
                                                <td>
                                                    <a ng-click="deleteRefRecX(rec.systems, $index)" ng-show="!lock"><i class="fa fa-minus-circle"></i></a>&nbsp;
                                                    <a ng-click="showRefEditor(rec.systems, $index, 'editSystem')"><i class="fa fa-search"></i></a>
                                                </td>
                                            </tr>
                                        </table>
                                        <div ng-show="sysdrop && !lock">
                                            <bi-select-item item-label="'系统'" item-options="systemList" item-margin="'bi-margin-t10 bi-wd400'"
                                                            item-value="addSystemId" item-old-value="addSystemId"></bi-select-item>
                                            <button class="btn btn-default" ng-click="addRefRow(rec.systems, systemRows, addSystemId)">
                                                <i class="fa fa-plus"></i>&nbsp;增加</button>
                                        </div>
                                    </div>
                                    <div ng-if="rec.opType == 2" class="col-sm-4 trimL bi-old-val" style="padding-top: 12px;">
                                        <div class='weixin right' ng-if="refChanged(rec.systems)">
                                            <div class='weixin-content'>做过关联维护</div>
                                            <div class="arrow" style="margin-top: 0;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label bi-pr0">接入渠道</label>
                                    <div class="col-sm-6">
                                        <table class="table table-condensed bi-margin-b0 crud-r" style="margin-top: -1px;">
                                            <thead><tr>
                                                <th><i class="fa fa-square-o"></i></th>
                                                <th style="width: 150px; text-align: left;">渠道代号</th><th>渠道名称</th><th>客户端编码</th>
                                                <th style="width: 50px;">
                                                    <a ng-show="appdrop"><i ng-click="appdrop=false" class="fa fa-chevron-up pointer"></i></a>
                                                    <a ng-show="!appdrop"><i ng-click="appdrop=true" class="fa fa-chevron-down pointer"></i></a></th></tr>
                                            </thead>
                                            <tr ng-repeat="op in rec.applications" ng-show="appdrop">
                                                <td class="text-center">
                                                    <i class="fa fa-{{op.rec.opType|optionName:'opTypeIcon'}} text-danger"></i>
                                                </td>
                                                <td>{{op.rec.symbol}}</td>
                                                <td>{{op.rec.name}}</td>
                                                <td>{{op.rec.encode|optionName:'appEncode'}}</td>
                                                <td>
                                                    <a ng-click="deleteRefRecX(rec.applications, $index)" ng-show="!lock"><i class="fa fa-minus-circle"></i></a>&nbsp;
                                                    <a ng-click="showRefEditor(rec.applications, $index, 'editApplication')"><i class="fa fa-search"></i></a>
                                                </td>
                                            </tr>
                                        </table>
                                        <div ng-show="appdrop && !lock">
                                            <bi-select-item item-label="'接入渠道'" item-options="applicationList" item-margin="'bi-margin-t10 bi-wd400'"
                                                            item-value="addAppId" item-old-value="addAppId"></bi-select-item>
                                            <button class="btn btn-default" ng-click="addRefRow(rec.applications, applicationRows, addAppId)">
                                                <i class="fa fa-plus"></i>&nbsp;增加</button>
                                        </div>
                                    </div>
                                    <div ng-if="rec.opType == 2" class="col-sm-4 trimL bi-old-val" style="padding-top: 12px;">
                                        <div class='weixin right' ng-if="refChanged(rec.applications)">
                                            <div class='weixin-content'>做过关联维护</div>
                                            <div class="arrow" style="margin-top: 0;"></div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>