<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'加密服务索引'" item-tip="'一旦设置将无法更改'"
                                              item-value="rec.serviceIndex" item-old-value="bak.serviceIndex" item-locked="isIndexExist"></bi-edit-item>
                                <bi-select-item item-label="'密钥定义'" item-options="keyDefineNameList"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="isCreateKey"></bi-select-item>
                                <bi-select-item item-label="'密钥类型'" item-options="keyDefineTypeList"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="'true'"></bi-select-item>
                                <bi-select-item item-label="'密钥标识'" item-options="keyDefineSchemaList"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId" item-locked="'true'"></bi-select-item>
                                <bi-edit-item item-label="'密钥值'"
                                              item-value="rec.keyValue" item-old-value="bak.keyValue" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'校验值'"
                                              item-value="rec.checkValue" item-old-value="bak.checkValue" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'应用'" item-options="applicationList"
                                                item-value="rec.applicationId" item-old-value="bak.applicationId" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'使用状态'"  item-margin="'bi-margin-b0'"
                                              item-value="rec.useStatus|optionName:'keyUseStatus'" item-old-value="bak.useStatus|optionName:'keyUseStatus'" item-locked="'true'"></bi-edit-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>