<div class="panel-collapse in" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a data-toggle="collapse" data-target="#roleFilterPanel" aria-expanded="true" aria-controls="roleFilterPanel">
                            <i class="fa fa-search"></i>&nbsp;查询
                        </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href ng-click="conditionQuery(qry)"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <div id="roleFilterPanel" class="panel-collapse collapse" role="tabpanel">
                            <hr class="bi-margin-b10 bi-margin-t8">
                            <div class="panel-body bi-pad0">
                                <form class="form-horizontal">
                                    <div class="col-md-6">
                                        <bi-query-item item-label="'服务索引'" item-value="qry.serviceIndex"></bi-query-item>
                                        <bi-query-item item-label="'校验值'" item-value="qry.checkValue"></bi-query-item>
                                        <bi-query-action></bi-query-action>
                                    </div>
                                    <div class="col-md-6">
                                        <bi-query-select item-label="'密钥方案'" item-value="qry.keyDefineId" item-options="keyDefineNameList"></bi-query-select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bi-pt0">
                        <table class="table table-hover table-condensed bg-white crud-r">
                            <thead><tr>
                                <th><input type="checkbox" ng-click="toggleChosen();"></th>
                                <th>安全服务索引</th><th>密钥方案</th><th>密钥值</th><th>校验值</th><th>修改时间</th><th>使用状态</th></tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in recs" class="chosen-{{r.rec.chosen}}">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="r.rec.chosen" ng-show="!r.rec.bizSeq">
                                    <i class="fa fa-lock" ng-show="r.rec.bizSeq"></i>
                                </td>
                                <td><a href ng-click="showEditor($index)">{{r.rec.serviceIndex}}</a></td>
                                <td>{{r.rec.keyDefineId | optionName: keyDefineNameList}}</td>
                                <td>{{r.rec.keyValue}}</td>
                                <td>{{r.rec.checkValue}}</td>
                                <td>{{r.rec.createDatetime|biDateTime}}</td>
                                <td>{{r.rec.useStatus | optionName:'keyUseStatus'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <bi-query-buttons></bi-query-buttons>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>