<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'型号'"
                                              item-value="rec.model" item-old-value="bak.model" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'生产商'" item-options="companiesList"
                                              item-value="rec.producerId" item-old-value="bak.producerId" item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'供应商'" item-options="companiesList"
                                              item-value="rec.supplierId" item-old-value="bak.supplierId" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'备注'"
                                              item-value="rec.remark" item-old-value="bak.remark" item-locked="lock"></bi-edit-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>