<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'名称'" item-tip="'输入中文'"
                                              item-value="rec.name" item-old-value="bak.name" item-locked="lock"></bi-edit-item>
                                <bi-area-item item-label="'菜单权限'" item-margin="bi-margin-b0" item-eq="!isEq(rec.menus, bak.menus)"
                                              item-value="rec.menus|treeStringify:menuTree" item-old-value="bak.menus|treeStringify:menuTree"
                                              item-setting="chooseMenus" item-locked="lock">
                                </bi-area-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>