<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-history"></i>&nbsp;角色<code>【&nbsp;{{rec.name}}&nbsp;】</code>的维护记录</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item bi-ptb0">
                        <div class="panel-body bi-pad0">
                            <table class="table table-condensed bg-white bi-margin-b0">
                                <thead><tr>
                                    <th>名称</th>
                                    <th>描述</th>
                                    <th>维护类型</th>
                                    <th class="his-col-op">操作</th>
                                    <th class="his-col-ts">操作时间戳</th>
                                    <th class="his-col-uid">操作员</th></tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="his in histories">
                                    <td>{{his.name}}</td>
                                    <td>{{his.description}}</td>
                                    <td>{{his.opType|optionName:'opType'}}</td>
                                    <td colspan="5" style="padding: 0;">
                                        <table class="table table-condensed bi-margin-b0" style="margin-top: -1px;">
                                            <tr ng-repeat="op in his.operations">
                                                <td class="his-col-op">{{op.action|optionName:'action'}}</td>
                                                <td class="his-col-ts">{{op.journalDate|biDate}}&nbsp;{{op.time|biTime}}</td>
                                                <td class="his-col-uid">{{op.userId|optionName:userList}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </li>
                </ul>
                <ng-include src="'components/crud/biHistoryButtonsTemplate.html'"></ng-include>
            </div>
        </div>
    </div>
</div>