<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'发卡行标识'" item-name="'cardBin'" item-required="'true'"
                                              item-value="rec.cardBin" item-old-value="bak.cardBin"
                                              item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                <bi-select-item item-label="'服务标识'" item-options="'serviceSign'|theOption" item-name="'serviceSign'" item-required="'true'"
                                                item-value="rec.serviceSign" item-old-value="bak.serviceSign"
                                                item-locked="opType != 1 || recStatus != -1"></bi-select-item>
                                <bi-edit-item item-label="'证书序列号'" item-name="'serialNo'" item-required="'true'" item-tip="'由业务人员联系银联获得'"
                                              item-value="rec.serialNo" item-old-value="bak.serialNo"
                                              item-locked="opType != 1 || recStatus != -1"></bi-edit-item>
                                <bi-date-item item-label="'失效日期'" item-name="'inva  lidDate'" item-required="'true'"
                                              item-value="rec.invalidDate" item-old-value="bak.invalidDate"
                                              item-locked="opType != 1 || recStatus != -1"></bi-date-item>
                                <div ng-if="opType == 1">
                                    <bi-select-item item-label="'证书密钥'" item-options="rsaKeyBatchList" item-name="'rsaKey'" item-required="'true'"
                                                    item-value="rec.rsaKeyBatchId"
                                                    item-old-value="bak.rsaKeyBatchId"
                                                    item-locked="opType != 1 || recStatus != -1"></bi-select-item>
                                </div>
                                <div ng-show="opType == 0 && !lock && rec.certStatus == 0">
                                <bi-select-item item-label="'根CA证书'" item-options="rootCertList" item-name="'rootCert'" item-required="'true'"
                                                item-value="rec.rootCertId"
                                                item-old-value="bak.rootCertId"
                                                item-locked="opType != 0 || recStatus != -1"></bi-select-item>
                                </div>
                                <div class="form-group" style="margin-top: 0; margin-bottom: 6px;" ng-if="opType == 1 && !lock">
                                    <label class="col-sm-2 control-label trimR"><i class="fa fa-info-circle"></i></label>
                                    <div class="col-sm-6">
                                        <label class="control-label">后台根据填写的信息生成证书请求文件.</label>
                                    </div>
                                </div>
                                <div class="form-group bi-margin-b10" ng-show="(opType != 1 || rec.recStatus < 1) && lock">
                                    <label class="col-sm-2 control-label trimR">请求文件</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="rec.requestFile" ng-disabled="true">
                                        <a ng-href="downloads/{{rec.requestFile}}" ng-click="downloaded(rec)" class="btn btn-sm btn-default bi-btn-inner-right"
                                           ng-show="opType == 0 && rec.certStatus < 1 && !rec.bizSeq">
                                            <i class="fa fa-download"></i> 下载 ...</a>
                                    </div>
                                </div>
                                <div class="form-group bi-margin-b10" ng-show="opType == 0 && rec.certStatus == 0 && !lock">
                                    <label class="col-sm-2 control-label trimR">证书文件</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" ng-model="rec.certFile" ng-disabled="true">
                                        <button ng-click="showUploadX(rec, 'certFile', 'dhxDivCert')" class="btn btn-sm btn-default bi-btn-inner-right"
                                                ng-show="opType == 0 && !rec.bizSeq && rec.certStatus == 0">
                                            <i class="fa fa-upload"></i> 导入 ...</button>
                                        <div id="dhxDivCert" style="display: none; height: 58px; margin-top: 5px; margin-right: -2px;"></div>
                                    </div>
                                    <div ng-if="isNotInsertUp()" class="col-sm-4 trimL bi-old-val has-success">
                                        <div class='weixin right' ng-if="rec.certFile != bak.certFile">
                                            <div class='weixin-content'>{{bak.certFile}}</div>
                                            <div class="arrow"></div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="rec.certStatus == 1">
                                <bi-edit-item item-label="'发卡次数'" item-name="'issuingNumber'"
                                              item-value="rec.issuingNumber" item-old-value="bak.issuingNumber"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'公钥余项'" item-name="'publicKeySurplus'"
                                              item-value="rec.publicKeySurplus" item-old-value="bak.publicKeySurplus"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'公钥指数'" item-name="'publicKeyExponential'"
                                              item-value="rec.publicKeyExponential" item-old-value="bak.publicKeyExponential"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'签名的公钥数据'" item-name="'publicKeyCert'"
                                              item-value="rec.publicKeyCert" item-old-value="bak.publicKeyCert"
                                              item-locked="'true'"></bi-edit-item>
                                </div>
                                <bi-select-item item-label="'证书状态'" item-options="'certStatus'|theOption"
                                                item-value="rec.certStatus" ng-show="opType != 1 || recStatus != -1"
                                                item-old-value="bak.certStatus" item-margin="'bi-margin-b0'"
                                                item-locked="'true'"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>