<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id"
                                              item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'系统ID'" item-options="systemKeyDefineList"
                                                item-value="rec.keyDefineId" item-old-value="bak.keyDefineId"
                                                item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'卡BIN'"
                                              item-value="rec.cardBin" item-old-value="bak.cardBin"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'证书序列号'" item-tip="'由业务人员联系CFCA获得'"
                                              item-value="rec.serialNo" item-old-value="bak.serialNo"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'失效日期'" item-tip="'由业务人员联系CFCA获得'"
                                              item-value="rec.invalidDate" item-old-value="bak.invalidDate"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'私钥'"
                                              item-value="rec.privateKeyValue" item-old-value="bak.privateKeyValue"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'公钥'"
                                              item-value="rec.publicKeyValue" item-old-value="bak.privateKeyValue"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'校验值'"
                                              item-value="rec.checkValue" item-old-value="bak.checkValue"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'请求文件名'" item-value="rec.requestFileName"
                                              item-old-value="rec.requestFileName"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'下载次数'" item-value="rec.downloadTimes"
                                              item-old-value="rec.downloadTimes"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'根公钥文件'" item-value="rec.rootPublicKeyFile"
                                              item-old-value="rec.rootPublicKeyFile"
                                              item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'证书文件名'" item-value="rec.certFileName"
                                              item-old-value="rec.certFileName"
                                              item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'证书状态'" item-options="'certStates'|theOption"
                                                item-value="rec.certStatus"
                                                item-old-value="rec.certStatus"
                                                item-locked="lock"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>