<div class="panel-collapse in" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a data-toggle="collapse" data-target="#registerStep1" aria-expanded="true"
                           aria-controls="registerStep1">
                            <i class="fa fa-search"></i>&nbsp;查询
                        </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href ng-click="conditionQuery(qry)"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <div id="registerStep1" class="panel-collapse collapse" role="tabpanel">
                            <hr class="bi-margin-b10 bi-margin-t8">
                            <div class="panel-body bi-pad0">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <bi-query-item item-label="'标识'" item-tip="'大于0的整数'" item-value="qry.id"></bi-query-item>
                                            <bi-query-item item-label="'卡BIN'" item-value="qry.cardBin"></bi-query-item>
                                            <bi-query-action></bi-query-action>
                                        </div>
                                        <div class="col-md-6">
                                            <bi-query-select item-label="'系统'" item-value="qry.keyDefineId" item-options="systemKeyDefineList"></bi-query-select>
                                            <bi-query-item item-label="'证书序列号'" item-value="qry.serialNo"></bi-query-item>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bi-pt0">
                        <table class="table table-hover table-condensed bg-white crud-r">
                            <thead>
                            <tr>
                                <th><input type="checkbox" ng-click="toggleChosen();"></th>
                                <th>发卡行标识</th>
                                <th>证书序列号</th>
                                <th>失效日期</th>
                                <th>请求文件</th>
                                <th>发卡机构</th>
                                <th>服务标识</th>
                                <th>发卡次数</th>
                                <th>证书文件</th>
                                <th>证书状态</th>
                            </tr>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in recs" class="chosen-{{r.rec.chosen}}">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="r.rec.chosen" ng-show="!r.rec.bizSeq">
                                    <i class="fa fa-lock" ng-show="r.rec.bizSeq"></i>
                                </td>
                                <td>{{r.rec.cardBin}}</td>
                                <td><a href ng-click="showEditor($index)">{{r.rec.serialNo}}</a></td>
                                <td>{{r.rec.invalidDate}}</td>
                                <td>{{r.rec.requestFile}}</td>
                                <td><p ng-show="r.rec.rootCertId">{{r.rec.rootCertId | optionName: rootCertRidList}}</p></td>
                                <td>{{r.rec.serviceSign | optionName: "serviceSign"}}</td>
                                <td>{{r.rec.issuingNumber}}</td>
                                <td>{{r.rec.certFile}}</td>
                                <td>{{r.rec.certStatus|optionName:"certStatus"}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <bi-query-buttons></bi-query-buttons>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>