<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'手机号'" item-name="'mobile'" item-required="'true'"
                                              item-value="rec.mobile" item-old-value="bak.mobile" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'姓名'" item-name="'name'" item-required="'true'"
                                              item-value="rec.name" item-old-value="bak.name" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'性别'"
                                                item-value="rec.sex" item-old-value="bak.sex" item-locked="lock" item-options="'sex'|theOption"></bi-select-item>
                                <bi-edit-item item-label="'所属部门'" item-tip="'如：总行-资讯科技部-系统管理团队'"
                                              item-value="rec.departmentName" item-old-value="bak.departmentName" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'角色'" is-option-field="'true'" item-margin="'bi-margin-b0'"
                                                item-value="rec.roles[0].roleId" item-old-value="bak.roles[0].roleId" item-locked="lock" item-options="roleList"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>