<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'系统代号'" item-tip="'大写英文字母及数字'" item-name="'symbol'" item-required="'true'" item-max-length="'16'" item-reg-expr="'^[A-Z0-9]+$'"
                                              item-value="rec.symbol" item-old-value="bak.symbol" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'系统名称'" item-name="'name'"
                                              item-value="rec.name" item-old-value="bak.name" item-locked="lock"></bi-edit-item>
                                <bi-edit-item item-label="'英文名称'" item-reg-expr="'^[A-Za-z ]+$'"  item-name="'nameEn'"
                                              item-value="rec.nameEn" item-old-value="bak.nameEn" item-locked="lock"></bi-edit-item>
                                <bi-text-item item-label="'系统简介'"
                                              item-value="rec.summary" item-old-value="bak.summary" item-locked="lock"></bi-text-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>