<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{ref.opType|optionName:'opType'}}&nbsp;-&nbsp;密钥方案</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="ref.rec.id" item-old-value="ref.bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-edit-item item-label="'密钥名称'" item-tip="'如:ATM-P主密钥'" item-name="'keyName'" item-required="'true'"
                                              item-value="ref.rec.keyName" item-old-value="ref.bak.keyName" item-locked="ref.lock"></bi-edit-item>
                                <bi-select-item item-label="'密钥类型'"
                                                item-value="ref.rec.keyType" item-old-value="ref.bak.keyType" item-locked="ref.lock" item-options="'YesNo'|theOption"></bi-select-item>
                                <div class="form-group bi-margin-b0">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-6">
                                        <button ng-click="chooseMenus()" class="btn btn-sm btn-default" ng-disabled="ref.lock"><i class="fa fa-gear"></i>&nbsp;生成密钥</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-ref-edit-buttons></bi-ref-edit-buttons>
            </div>
        </div>
    </div>
</div>