<bi-header></bi-header>
<div class="panel-body bi-pad0">
    <div class="panel panel-default">
        <form class="form-horizontal" name="deployForm" ng-submit="doDeploy(initData)" ng-controller="DeployCtrl" style="margin-top: 50px">
            <div class="form-group">
                <label for="inputClusterId" class="col-sm-3 control-label">集群ID</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" id="inputClusterId" ng-model="initData.clusterId"
                           placeholder="eg:1" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label for="directory" class="col-sm-3 control-label">部署目录</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="directory" ng-model="initData.directory"
                           placeholder="部署目录" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-primary">部署</button>
                </div>
            </div>
        </form>
    </div>
</div>
<bi-footer></bi-footer>