<bi-header></bi-header>
<div class="container">
    <div class="page-header bi-margin-b0 bi-pad0">
        <h4>&nbsp;<i class="fa fa-leaf"></i>&nbsp;服务部署</h4>
    </div>
    <div class="bi-margin0" role="tablist" bs-collapse>
        <div class="panel-collapse" role="tabpanel" bs-collapse-target>
            <div class="panel-group" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-gear"></i>&nbsp;设置</div>
                    <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="panel-body bi-pad0">
                                    <form class="form-horizontal" name="xDeployForm" ng-submit="doDeploy(rec)">
                                        <div class="form-group bi-margin-b10">
                                            <label class="col-sm-2 control-label bi-pad0">集群</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" ng-model="rec.clusterId" model-format="int" ng-required="true" name="clusterId">
                                                    <option value="{{o.value}}" ng-repeat="o in clusterList" ng-selected="rec.clusterId == o.value">{{o.name}}</option>
                                                </select>
                                                <div class="bi-required-inner text-warning" style="font-size: 20px;">*</div>
                                                <div class="form-control-feedback" aria-hidden="true" ng-show="xDeployForm.clusterId.$error.required">
                                                    <span class="bi-feedback">必输域</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group bi-margin-b10">
                                            <label class="col-sm-2 control-label bi-pad0">存放子目录</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" ng-model="rec.directory" ng-required="true" name="directory">
                                                <div class="bi-required-inner text-warning" style="font-size: 20px;">*</div>
                                                <div class="form-control-feedback" aria-hidden="true" ng-show="xDeployForm.directory.$error.required">
                                                    <span class="bi-feedback">必输域</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="rec.confCreated">
                                            <label class="col-sm-2 control-label trimR"><i class="fa fa-info-circle"></i></label>
                                            <div class="col-sm-6">
                                                <label class="control-label">部署配置已生成, 放置在目录 $HOME/Tmp/{{rec.directory}} 下 ...</label>
                                            </div>
                                        </div>
                                        <div class="form-group bi-margin-b10" ng-show="rec.confCreated">
                                            <label class="col-sm-2 control-label trimR">服务配置文件</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="rec.hxConf" ng-disabled="true">
                                                <a ng-href="downloads/{{rec.requestFileName}}" ng-click="downloaded(rec)" class="btn btn-sm btn-default bi-btn-inner-right">
                                                    <i class="fa fa-download"></i> 下载 ...</a>
                                            </div>
                                        </div>
                                        <div class="form-group bi-margin-b10" ng-show="rec.confCreated">
                                            <label class="col-sm-2 control-label trimR">数据库配置文件</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="rec.bdbConf" ng-disabled="true">
                                                <a ng-href="downloads/{{rec.requestFileName}}" ng-click="downloaded(rec)" class="btn btn-sm btn-default bi-btn-inner-right">
                                                    <i class="fa fa-download"></i> 下载 ...</a>
                                            </div>
                                        </div>
                                        <div class="form-group bi-margin-b10" ng-show="rec.confCreated">
                                            <label class="col-sm-2 control-label trimR">数据库数据文件</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" ng-model="rec.bdbTar" ng-disabled="true">
                                                <a ng-href="downloads/{{rec.requestFileName}}" ng-click="downloaded(rec)" class="btn btn-sm btn-default bi-btn-inner-right">
                                                    <i class="fa fa-download"></i> 下载 ...</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <div class="panel-footer row bi-ptb10 bi-margin0" ng-show="!rec.confCreated">
                            <div class="col-sm-offset-2 col-sm-5 bi-pl5">
                                <div class="btn-group" >
                                    <button class="btn btn-primary" ng-click="doDeploy(rec)">
                                        <i class="fa fa-check"></i>&nbsp;提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<bi-footer></bi-footer>