<bi-header></bi-header>
<div class="carousel slide" id="carousel-home" style="margin-top: 0px;" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-home"></li>
        <li data-slide-to="1" data-target="#carousel-home"></li>
        <li data-slide-to="2" data-target="#carousel-home"></li>
    </ol>
    <div class="carousel-inner">
        <bi-login class="bi-login"></bi-login>
        <div class="item active">
            <img alt="" src="images/b1.jpg" />
            <div class="carousel-caption-bi">
                <div class="container">
                    <h4>“面向应用管理”</h4><p>针对应用设计安全方案，按其应用特征有机组织相关密钥，进行管理。</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img alt="" src="images/b2.jpg" />
            <div class="carousel-caption-bi">
                <div class="container">
                    <h4>“密钥在线分发”</h4><p>端设备向密钥管理系统主动申请主密钥并安全地完成传输和更新动作。</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img alt="" src="images/b3.jpg" />
            <div class="carousel-caption-bi">
                <div class="container">
                    <h4>“密钥介质跟踪”</h4><p>对密码信封、主密钥备份卡等介质的领用、分发等信息进行跟踪记录。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<bi-footer></bi-footer>