<div class="panel-collapse" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-edit"></i>&nbsp;{{opType|optionName:'opType'}}</div>
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="panel-body bi-pad0">
                            <form class="form-horizontal" name="{{::thePageId}}Form">
                                <bi-edit-item item-label="'标识'" item-tip="'后台自动产生'"
                                              item-value="rec.id" item-old-value="bak.id" item-locked="'true'"></bi-edit-item>
                                <bi-select-item item-label="'服务系统'" item-options="systemList"
                                                item-value="rec.systemId" item-old-value="bak.systemId" item-locked="lock"></bi-select-item>
                                <bi-select-item item-label="'密钥方式'" item-options="'keySort'|theOption"
                                                item-value="rec.keySort" item-old-value="bak.keySort" item-locked="lock"></bi-select-item>
                                <bi-edit-item item-label="'密钥方案名称'" item-tip="'如:ATM-P主密钥'" item-name="'keyName'" item-required="'true'"
                                              item-value="rec.keyName" item-old-value="bak.keyName" item-locked="lock"></bi-edit-item>
                                <bi-select-item item-label="'密钥用途'" item-name="'keyUseFor'" item-required="'true'"
                                                item-value="rec.keyUseFor" item-old-value="bak.keyUseFor" item-locked="lock" item-options="'keyUseFor'|theOption"></bi-select-item>
                                <bi-select-item item-label="'密钥功能'" item-name="'keyFunction'" item-required="'true'"
                                                item-value="rec.keyFunction" item-old-value="bak.keyFunction" item-locked="lock" item-options="'funt'|theOption"></bi-select-item>
                                <bi-select-item item-label="'是否ZMK加密'" item-name="'createMode'" item-required="'true'"
                                                item-value="rec.createMode" item-old-value="bak.createMode" item-locked="lock" item-options="'YesNo'|theOption"></bi-select-item>
                                <bi-select-item item-label="'密钥类型/算法'" item-data-type="'text'" item-name="'keyType'" item-required="'true'"
                                                item-value="rec.keyType" item-old-value="bak.keyType" item-locked="lock"  item-options="'keyType'|theOption"></bi-select-item>
                                <bi-select-item item-label="'密钥标识/长度'" item-data-type="'text'" item-name="'keySchema'" item-required="'true'"
                                                item-value="rec.keySchema" item-old-value="bak.keySchema" item-locked="lock" item-options="'keySchema'|theOption"></bi-select-item>
                            </form>
                        </div>
                    </li>
                </ul>
                <bi-edit-buttons></bi-edit-buttons>
            </div>
        </div>
    </div>
</div>