<div class="panel-collapse in" role="tabpanel" bs-collapse-target>
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div id="collapseListGroup1" class="panel-collapse collapse in" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a data-toggle="collapse" data-target="#registerStep1" aria-expanded="true"
                           aria-controls="registerStep1">
                            <i class="fa fa-search"></i>&nbsp;查询
                        </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href ng-click="conditionQuery(qry)"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                        <div id="registerStep1" class="panel-collapse collapse" role="tabpanel">
                            <hr class="bi-margin-b10 bi-margin-t8">
                            <div class="panel-body bi-pad0">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <bi-query-item item-label="'密钥名称'" item-tip="'文本,可模糊匹配'" item-value="qry.keyName"></bi-query-item>
                                            <bi-query-action></bi-query-action>
                                        </div>
                                        <div class="col-md-6">
                                            <bi-query-select item-label="'密钥类型'" item-value="qry.keyType" item-options="'keyType'|theOption"></bi-query-select>
                                            <bi-query-select item-label="'密钥算法'" item-value="qry.keySchema" item-options="'keySchema'|theOption"></bi-query-select>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item bi-pt0">
                        <table class="table table-hover table-condensed bg-white crud-r">
                            <thead>
                            <tr>
                                <th><input type="checkbox" ng-click="toggleChosen();"></th>
                                <th>密钥方案名称</th>
                                <th>服务系统</th>
                                <th>密钥方式</th>
                                <th>密钥用途</th>
                                <th>密钥功能</th>
                                <th>密钥类型/算法</th>
                                <th>密钥标识/模长</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in recs" class="chosen-{{r.rec.chosen}}">
                                <td class="text-center">
                                    <input type="checkbox" ng-model="r.rec.chosen" ng-show="!r.rec.bizSeq">
                                    <i class="fa fa-fw fa-{{r.rec.opType|optionName:'opTypeIcon'}} text-danger" ng-show="r.rec.bizSeq"></i>
                                </td>
                                <td><a href ng-click="showEditor($index)">{{r.rec.keyName}}</a></td>
                                <td>{{r.rec.systemId|optionName:systemList}}</td>
                                <td>{{r.rec.keySort|optionName:'keySort'}}</td>
                                <td>{{r.rec.keyUseFor | optionName:'keyUseFor'}}</td>
                                <td>{{r.rec.keyFunction | optionName:'funt'}}</td>
                                <td>{{r.rec.keyType | optionName:'keyType'}}</td>
                                <td>{{r.rec.keySchema | optionName:'keySchema'}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <bi-query-buttons></bi-query-buttons>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>